@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .button-containerers {
            position:relative;
            top:130px;
            font-family: 'Comfortaa', sans-serif;
            display: flex;
            justify-content: space-between; /* Distribute items evenly along the main axis */
            align-items: center;
            margin-top: 0;
            text-align: center;
            width: 100%; /* Set width to 100% to occupy the entire available space */
        }

        .wdbuttonss {
            display: inline-block;
            text-decoration: none;
            background-color: #007bff;
            color: white;
            padding: 12% 7% 12% 7%;
            border-radius: 5px;
            font-size: 150%;
            flex: 1; /* Distribute available space equally among the buttons */
            box-sizing: border-box; /* Include padding in the button's width */
            margin: 2px; /* Remove margin for even distribution */
        }

        .welcomezz {
            position:relative;
            top:100px;
            font-family: 'Comfortaa', sans-serif;
            margin: 0;
            font-size: 24px;
            text-align: left; 
        }


    </style>
</head>
    <body>
        
    <div class="easein">
        <div class="mains">
        <div class="welcomezz">
            Welcome: @TempData["LoggedInUser"]
        </div>
        <div>
            Impaired
        </div>
        <div class="button-containerers">
            <a asp-area="" asp-controller="Impared" asp-action="Withdraw" class="wdbuttonss">Withdraw</a>
            <a asp-area="" asp-controller="Impared" asp-action="Deposit" class="wdbuttonss">Deposit</a>
        </div>
        </div>
        </div>
    </body>
</html>