@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style> 
        body {
            font-family: 'Comfortaa', sans-serif;
            margin: 0;
            padding: 0;
        }

        .button-containerers {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8%;
            flex-direction: row;
            text-align: center;
            opacity: 0; /* Set initial opacity to 0 for the fade-in effect */
        }

        .wdbuttonss {
            display: inline-block;
            text-decoration: none;
            background-color: #900d09;
            color: white;
            padding: 5% 7%;
            border-radius: 5px;
            margin: 0% 5% 1% 5%;
            font-size: 150%;
            transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .wdbuttonss:hover {
            background-color: #bc544b; /* Change the background color on hover */
            color: white;
            transform: scale(1.1); /* Add a scaling effect on hover */
        }

        .welcomezz {
            margin: 0;
            font-size: 24px;
            text-align: center;
            opacity: 0; /* Set initial opacity to 0 for the fade-in effect */
        }
        .mains{
            margin-top:5%;
        }
    </style>
</head>
<body>
    <div class="toplayers">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
    </div>
    <div class="mains">
        <div class="welcomezz">
            Welcome: @TempData["LoggedInUser"]
            <br />
            What would you like to do Today?
        </div>
        <div class="button-containerers">
            <a asp-area="" asp-controller="Home" asp-action="Withdraw" class="wdbuttonss">Withdraw</a>
            <a asp-area="" asp-controller="Home" asp-action="Deposit" class="wdbuttonss">Deposit</a>
        </div>
    </div>

    <script>
        // JavaScript for fade-in effect
        document.addEventListener("DOMContentLoaded", function () {
            fadeIn(document.querySelector(".welcomezz"));
            fadeIn(document.querySelector(".button-containerers"));
        });

        function fadeIn(element) {
            var opacity = 0;
            var interval = setInterval(function () {
                if (opacity < 1) {
                    opacity += 0.05; // Adjust the increment value for a smoother fade-in
                    element.style.opacity = opacity;
                } else {
                    clearInterval(interval);
                }
            }, 50); // Adjust the interval for a smoother fade-in
        }
    </script>
</body>
</html>