@{
    ViewData["Title"] = "Login";
}
<!-- <a asp-area="" asp-controller="Home" asp-action="PinLogin">Pin Login</a> -->



<style>
    .container-fluidersers {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .rownaisu {
        display: flex;
        justify-content: center;
    }

    .boxiesers {
        border: 1px solid #ccc;
        padding: 150px; /* Increase the padding to make the boxes larger */
        text-align: center;
        margin: 10px; /* Add margin to space the boxes apart */
    }

    .background-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Set a negative z-index to position it behind the content */
        background-color: #e5e5f7;
        opacity: 0.1;
        background: linear-gradient(135deg, #38394f55 25%, transparent 25%) -17px 0/ 34px 34px, linear-gradient(225deg, #38394f 25%, transparent 25%) -17px 0/ 34px 34px, linear-gradient(315deg, #38394f55 25%, transparent 25%) 0px 0/ 34px 34px, linear-gradient(45deg, #38394f 25%, #e5e5f7 25%) 0px 0/ 34px 34px;
    }

</style>

<div class="background-container"> </div>

<a asp-area="" asp-controller="Malay" asp-action="Index">
    Malay Testing
</a>
<a asp-area="" asp-controller="Chinese" asp-action="Index">
    Chinese Testing
</a>
<a asp-area="" asp-controller="Impared" asp-action="Index">
    Impaired
</a>

<div class="container-fluidersers">
    <div class="rownaisu">
        <div class="col-lg-4">
            <a asp-area="" asp-controller="Home" asp-action="PinLogin" class="boxiesers">
                <i class="fa-solid fa-credit-card fa-2xl"></i>
            </a>
        </div>

        <div class="col-lg-4">
            <a asp-area="" asp-controller="Impared" asp-action="ThumbprintLogin" class="boxiesers">
                <i class="fa-solid fa-fingerprint fa-2xl"></i>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="@Url.Action("Action3", "Controller")" class="boxiesers">
                VR
            </a>
        </div>
    </div>
</div>


